# Site
NEXT_PUBLIC_SITE_URL=https://andry.ink

# SMTP (Gmail App Password recommandé)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=andrianaivonoe403@gmail.com
SMTP_PASS=your_app_password_here

# Destinataire des messages
CONTACT_TO=andrianaivonoe403@gmail.com
